# Python virtual environments
.venv/
venv/
ENV/
**/venv/
**/.venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (Sensitive API keys)
.env
.env.*
**/.env
**/.env.*

# IDEs and Editors
.vscode/
.idea/
.jbeval/
.junie/

**/Projects/*
!**/Projects/leetcode_premium_client_side_dashboard_20260615_134541/
!**/Projects/simple_scientific_calculator_20260616_034102/

