# Python virtual environments
.venv/
venv/
ENV/
**/venv/
**/.venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (Sensitive API keys)
.env
.env.*
**/.env
**/.env.*

# IDEs and Editors
.vscode/
.idea/
.jbeval/
.junie/

**/Projects/*
!**/Projects/leetcode_premium_client_side_dashboard_20260615_134541/
!**/Projects/simple_scientific_calculator_20260616_034102/
!**/Projects/full_stack_customer_feedback_board_20260616_024219/
!**/Projects/full_stack_database_explorer_dashboard_20260615_191911/
!**/Projects/ranking_application_development_20260615_150818/
!**/Projects/galgotias_university_static_landing_page_20260616_044455/



